<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>베빵 블로그</title>
    <th:block th:replace="/fragments/header.html :: headerFragment"></th:block>
</head>
<body>

    <th:block th:replace="/fragments/colbar.html :: colbar"></th:block>
<br>

<div class="container">
    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <button id="btn-update" class="btn btn-warning">수정</button>
    <button id="btn-delete" class="btn btn-danger">삭제</button>
    <br/><br/>
        <div class="form-group">

            <h3>[[${board.title}]]</h3>
        </div>
        <hr/>
        <div class="form-group">
            <div>
                <span th:utext="${board.content}"></span>
            </div>
        </div>

</div>
    <script src="/js/board.js"></script>
<th:block th:replace="/fragments/footer.html :: fragment-footer"></th:block>

</body>
</html>